.overlay-container {
  border: 1px solid green;
  box-shadow: 5px 5px 2px #888888;
  position: fixed;
  width: 95%;
  height: 800px;
  background-color: #009688;
}
.column {
  margin-left: 20px;
  top: 50px;
  width: 100px;
  /*margin-bottom: 52px;*/
  white-space: nowrap;
  height: 90%;
}
.columnBig {
  top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  width:80%;
  height: 90%;
  white-space: nowrap;
}
.dialog{
  height:600px;
  width:800px;
}
